<h1>更新画面</h1>

<%= form_with url: "/todos/#{@todo.id}", method: "patch", model: @todo do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <%= form.submit %>
<% end %>

<a href="/todos/">
    戻る 
</a>
  
