<h1>新規作成ページ</h1>

<%= form_with model: @todo do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <%= form.submit %>
<% end %>

<a href="/todos/">
    戻る 
</a>
  
